.App {
    height: 100vh;
    width: 100%;
    // background-image: url('../planets/textures/galaxy.jpg');
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    #solar {
        width: 100%;
        height: 100%;

        canvas {
            width: 100%;
            height: 100%;
        }
    }
}